body {
  height: 100%;
  background-image: url("../image/niko-photos-333391-unsplash.jpg");
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position: center top;
}
.main {
  display: grid;
  grid-template-rows: 100px auto;
  height: 100vh;
  width: 400px;
  background-color: white;
  font-size: 30px;
  grid-gap: 50px;
  position: absolute;
  right: 0px;
}
.gridOne {
  display: grid;
  width: 300px;
  height: 40px;
  margin-left: 20px;
}

#todoInput {
  background-color: transparent;
  outline: none;
  margin-top: 10px;
  margin-bottom: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid rgba(128, 128, 128, 0.952) 1px;
  padding: 20px 10px;
  font-size: 30px;
  margin-left: 20px;
  font-family: "Noto Sans TC", sans-serif;
}

.todoGrid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px;
  background-color: transparent;
}

.textButton {
  display: grid;
  grid-template-columns: 60px 240px;
  width: auto;
  height: auto;
  grid-gap: 3px;
  font-family: "Noto Sans TC", sans-serif;
}

.todoContent {
  display: grid;
  align-items: center;
  width: auto;
  height: auto;
}

.deleteTodo {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: rgba(128, 128, 128, 0.952);
}

.nothingTodo {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: rgba(128, 128, 128, 0.952);
}

.textChild {
  border-bottom: solid rgba(128, 128, 128, 0.952) 1px;
}
.name {
  display: none;
}
@media only screen and (min-width: 600px) {
  body {
    height: 100%;
    background-image: url("../image/niko-photos-333391-unsplash.jpg");
    background-size: 2000px auto;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .main {
  }
  .name {
    display: block;
    position: fixed;
    left: 50px;
    top: 150px;
    color: white;
    font-size: 50px;
    font-family: "Black Han Sans", sans-serif;
  }
  .trans {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 200;
  }
}
